*.gem
Gemfile.lock
.rvmrc
.ruby-version
.ruby-gemset
ruby-version
ruby-gemset
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

*.swp
*.swo

.internal_test_app
